 <div>
     <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 maincaption">
        <h3>Connect, Share and Predict </h3>
        <h3>World Events & Financial Markets</h3>
        <h3>as you see... evolving around you</h3>

        <p>&nbsp;</p>
        <h4>Follow experts-in-action on shares, bonds, commodities, currencies, and real estate</h4>
        <p>&nbsp;</p>
        <h4>Buzz on market events and their impact on prices</h4>
        <p>&nbsp;</p>
        <h4>Predict price movements, become experts and earn plus more...</h4>

    </div>


    <div class="col-xs-12 col-sm-8 col-md-4 col-lg-4 login-signup pull-right">
        <!--/ Login -->
        <div class="box-white row" id="streetBuzzLoginDiv">
            <form action="http://streetbuzz.co.in/test/signin" method="post">
                <input type="hidden" name="viewid" value="4042">
                <span class="mobileErrorLogin" id="errorLogin"> </span>
                <input type="text" class="form-control form" placeholder="Phone email or Username" id="email" name="email" ng-model="email" data-status="focus" value="">
                <div class="col-xs-8 col-sm-10 col-md-9 col-lg-9 login_pwd_split">
                    <input type="password" class="form-control form" placeholder="Password" id="password" name="password" value="" ng-model="password"></div>
                <div class="btn_login_right"><input type="button" class="btn btn-info" value="Log in" ng-click="login()"></div>
                <div class="col-xs-8 col-sm-10 col-md-9 col-lg-9 login_pwd_split"  style="color:red;"></div>

                <div class="pull-left"><input type="checkbox" name="rememberme"  id="rememberme"  value="1"  >
                    <span class="grey_text">Remember me <a href="http://streetbuzz.co.in/test/signin/forgotten" class="link_blue_text">Forgot password?</a></div>


            </form>
        </div>
        <!--/ Signup -->

        <div class="box-white row" id="streetBuzzRegisterDiv">
            <p class="signup_title_bold">New to StreetBuzz? Sign Up</p>
            <form action="http://streetbuzz.co.in/test/categeory"  method="POST" id="home">
                <input type="text" id="fullname"class="form-control form" placeholder="Full name" name="fullname" required>

                <input type="text" id="useremail" class="form-control form" placeholder="Email or Phone number" required name="strret_useremail">
                <div id="emailerror"></div>

                <input type="password" id="userpassword" class="form-control form" placeholder="Password" required name="street_userpassword" >

                <input type="text" id="username"class="form-control form" placeholder="Username" required name="street_username"  >
                <div id="usererror"></div>
                <div><strong>Birthday</strong></div>
                <div class="col-md-4 col-lg-4 zeropadding-left">
      <span><select class="form-control" name="profile_birth_day" id="birthdayday">
      <option value="">Day</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
              <option>13</option>
              <option>14</option>
              <option>15</option>
              <option>16</option>
              <option>17</option>
              <option>18</option>
              <option>19</option>
              <option>20</option>
              <option>21</option>
              <option>22</option>
              <option>23</option>
              <option>24</option>
              <option>25</option>
              <option>26</option>
              <option>27</option>
              <option>28</option>
              <option>29</option>
              <option>30</option>
              <option>31</option>
              </select>
      </span>
                </div>
                <div class="col-md-4 col-lg-4 zeropadding">
  <span><select class="form-control" name="profile_birth_month" id="birthdaymonth">
  <option value="">Month</option>

  <option value="1">January</option>

  <option value="2">February</option>

  <option value="3">March</option>

  <option value="4">April</option>

  <option value="5">May</option>

  <option value="6">June</option>

  <option value="7">July</option>

  <option value="8">August</option>

  <option value="9">September</option>

  <option value="10">October</option>

  <option value="11">November</option>

  <option value="12">December</option>
      </select>
  </span>
                </div>
                <div class="col-md-4 col-lg-4 zeropadding-right">
  <span><select class="form-control" name="profile_birth_year" id="birthdayyear">
  <option value="">Year</option>

      <option value="2016">2016</option>
      <option value="2015">2015</option>
      <option value="2014">2014</option>
      <option value="2013">2013</option>
      <option value="2012">2012</option>
      <option value="2011">2011</option>
      <option value="2010">2010</option>
      <option value="2009">2009</option>
      <option value="2008">2008</option>
      <option value="2007">2007</option>
      <option value="2006">2006</option>
      <option value="2005">2005</option>
      <option value="2004">2004</option>
      <option value="2003">2003</option>
      <option value="2002">2002</option>
      <option value="2001">2001</option>
      <option value="2000">2000</option>
      <option value="1999">1999</option>
      <option value="1998">1998</option>
      <option value="1997">1997</option>
      <option value="1996">1996</option>
      <option value="1995">1995</option>
      <option value="1994">1994</option>
      <option value="1993">1993</option>
      <option value="1992">1992</option>
      <option value="1991">1991</option>
      <option value="1990">1990</option>
      <option value="1989">1989</option>
      <option value="1988">1988</option>
      <option value="1987">1987</option>
      <option value="1986">1986</option>
      <option value="1985">1985</option>
      <option value="1984">1984</option>
      <option value="1983">1983</option>
      <option value="1982">1982</option>
      <option value="1981">1981</option>
      <option value="1980">1980</option>
      <option value="1979">1979</option>
      <option value="1978">1978</option>
      <option value="1977">1977</option>
      <option value="1976">1976</option>
      <option value="1975">1975</option>
      <option value="1974">1974</option>
      <option value="1973">1973</option>
      <option value="1972">1972</option>
      <option value="1971">1971</option>
      <option value="1970">1970</option>
      <option value="1969">1969</option>
      <option value="1968">1968</option>
      <option value="1967">1967</option>
      <option value="1966">1966</option>
      <option value="1965">1965</option>
      <option value="1964">1964</option>
      <option value="1963">1963</option>
      <option value="1962">1962</option>
      <option value="1961">1961</option>
      <option value="1960">1960</option>
      <option value="1959">1959</option>
      <option value="1958">1958</option>
      <option value="1957">1957</option>
      <option value="1956">1956</option>
      <option value="1955">1955</option>
      <option value="1954">1954</option>
      <option value="1953">1953</option>
      <option value="1952">1952</option>
      <option value="1951">1951</option>
      <option value="1950">1950</option>
      <option value="1949">1949</option>
      <option value="1948">1948</option>
      <option value="1947">1947</option>
      <option value="1946">1946</option>
      <option value="1945">1945</option>
      <option value="1944">1944</option>
      <option value="1943">1943</option>
      <option value="1942">1942</option>
      <option value="1941">1941</option>
      <option value="1940">1940</option>
      <option value="1939">1939</option>
      <option value="1938">1938</option>
      <option value="1937">1937</option>
      <option value="1936">1936</option>
      <option value="1935">1935</option>
      <option value="1934">1934</option>
      <option value="1933">1933</option>
      <option value="1932">1932</option>
      <option value="1931">1931</option>
      <option value="1930">1930</option>
      <option value="1929">1929</option>
      <option value="1928">1928</option>
      <option value="1927">1927</option>
      <option value="1926">1926</option>
      <option value="1925">1925</option>
      <option value="1924">1924</option>
      <option value="1923">1923</option>
      <option value="1922">1922</option>
      <option value="1921">1921</option>
      <option value="1920">1920</option>
      <option value="1919">1919</option>
      <option value="1918">1918</option>
      <option value="1917">1917</option>
      <option value="1916">1916</option>
      <option value="1915">1915</option>
      <option value="1914">1914</option>
      <option value="1913">1913</option>
      <option value="1912">1912</option>
      <option value="1911">1911</option>
      <option value="1910">1910</option>
      <option value="1909">1909</option>
      <option value="1908">1908</option>
      <option value="1907">1907</option>
      <option value="1906">1906</option>
      <option value="1905">1905</option>
      <option value="1904">1904</option>
      <option value="1903">1903</option>
      <option value="1902">1902</option>
      <option value="1901">1901</option>
      <option value="1900">1900</option>
      </select>
  </span>
                </div>


                <div class="col-md-12 col-lg-12 gender">
                    <span><input name="profile_gender" type="radio" value="f"> <strong>Female</strong></input></span>
                    <span><input name="profile_gender" type="radio" checked value="m"> <strong>Male</strong></input></span>
                </div>

                <div class="col-md-12 col-lg-12 zeropadding topmargin10">
                    <input type="button" class="btn btn-warning" id="sub" value="Signup for SB">
                </div>
                <input type="hidden" name="viewpollid" value="4042">

            </form>
        </div>

    </div>

</div>

