<script type="text/javascript">
function senddata(){
	alert('Inside Send Data Homr');
}
</script> 
<div class="row">
  <div class="container-fluid logoapp"> <img src="images/logoapp.png" class="img-responsive center-block"> </div>
</div>
<div class="row">
  <div class="container-fluid txt-lg">
    <h1>Welcome to <br>
      StreetBuzz</h1>
  </div>
</div>
<div class="row">
  <div class="container-fluid slogan">
    <p class="txt-medium">Connect, Share and Predict World Events & Financial Markets as you see... evolving around you</p>
  </div>
</div>
<div class="row">
  <div class="container-fluid ">
    <p class="txt-medium"> <a class="btn btn-default btn-login" href="" ng-click="homeLogin()">LOGIN</a><br />
      <br />
      <a href="fileBrowser.html" id="browseBtn" data-role="button"  data-inline="true">Browse</a><br />
      <br />
      <br />
	  <button ng-click="imgHELLO()">HELLO</button>
      <br />
      <br />
      <button ng-click="imgLoad()">Button123</button>
    </p>
  </div>
</div>
<div class="row">
  <div class="container-fluid ">
    <p class="txt-medium">
      <!--<input type="file" accept="image/*;capture=camera">-->
      <input type="file" accept="image/*" capture="camera">
    </p>
  </div>
</div>
<div class="row">
  <div class="container-fluid">
    <p class="txt-medium"> <a class="btn btn-default btn-signup" href="" ng-click="homeRegister()">SIGN UP</a> </p>
  </div>
</div>
<!--<div class="row">
    <div class="container-fluid "> 
      <p class="txt-medium">
      <a class="btn btn-default btn-login" href="" ng-click="homeLogout()">LOGOUT</a>
      </p>
    </div>
  </div> -->
   
