<div class="row">
  <div class="container-fluid logoapp"> <a href="index.html"><img src="images/logoapp.png" class="img-responsive center-block"></a> </div>
</div>
<form class="form-signin">
  <div class="row">
    
    <div class="container-fluid form-wrapper">
	<div class="mobileErrorLogin" id="errorLogin"></div>
      <input type="text" class="form-control form-field form-curve-top" placeholder="Phone email or Username" id="loginemail"   autofocus>
      <input type="password" class="form-control form-field form-curve-bottom" placeholder="Password" id="loginpassword">
    </div>
  </div>
  <div class="row">
    <div class="container-fluid">
      <p class="txt-medium">
        <button class="btn btn-default btn-loginNew" ng-click="login()">LOGIN</button>
      </p>
    </div>
  </div>
</form>
<div class="row">
  <div class="container-fluid forgot-password-wrapper">
    <p align="center"><a class="txt-small" href="forgotpassword.html">Forgot password?</a></p>
  </div>
</div>
<div class="row">
  <div class="container-fluid txt-signup-wrapper">
    <p>Not a member? <a class="txt-signup" ng-click="logintoregister()">Sign up now <span class="glyphicon glyphicon-triangle-right"></span></a></p>
  </div>
</div>
