<div class="row redirectpage">
    <div class="container-fluid logoapp">
        <img src="images/logoapp.png" class="img-responsive center-block">
    </div>
</div> 
<div class="row">
    <div class="container-fluid txt-lg">
        <h1>Welcome to <br> StreetBuzz</h1>
    </div>

</div>
<div class="row">
    <div class="container-fluid slogan">
        <p class="txt-medium">No Internet found. Check your internet connection or try again</p>
    </div>
</div>
<div class="row">
    <div class="container-fluid ">
        <p class="txt-medium">
            <a class="btn btn-default btn-signup" href="" ng-click="offlineContinue()">RETRY</a>
        </p>
    </div>
</div>

