<div class="row redirectpage">
    <div class="container-fluid logoapp">
        <img src="images/logoapp.png" class="img-responsive center-block">
    </div>
</div> 
<div class="row">
    <div class="container-fluid txt-lg">
        <h1> StreetBuzz</h1>
    </div>
</div> 
