<div class="row redirectpage">
    <div class="container-fluid logoapp">
        <img src="images/logoapp.png" class="img-responsive center-block">
    </div>
</div> 
<div class="row">
    <div class="container-fluid txt-lg">
        <h1>Welcome to <br> StreetBuzz</h1>
    </div>
	
</div>

<div class="row">
    <div class="container-fluid slogan"> 
      <p class="txt-medium">Press Back button again to quit.... </p>
    </div>
  </div>

<div class="row">
    <div class="container-fluid "> 
      <p class="txt-medium">
      <a class="btn btn-default btn-signup" href="" ng-click="backToHome()">Continue to StreetBuzz</a>
      </p>
    </div>
  </div> 
