/* @janeesh */
body {
	background: #03aae2;
	color: #fff;
	font-family: 'Lato', sans-serif;
}
.content {
	margin-top: 50px;
}
.fixedNav {
     position: fixed; width: 100%;
}
.txt-lg {
	margin: -20px 0px;
}
.txt-lg h1 {
	font-size: 32px;
}
.slogan {
	margin: 140px 0px 20px 0px;
}
.txt-medium {
	font-size: 16px;
	font-weight: bold;
}
.txt-signup-wrapper {
    margin-top: 20px;
    width: 100%;
}
.txt-signup {
	font-size: 16px;
	font-weight: bold;
	color: #fff;
}
.txt-signup:hover {
	color: #185b71;
	text-decoration: none;
}
.zeropadding {
	padding: 0;
}
.btn-login, .btn-signup {
    border-radius: 0;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border-radius: 4px;
}
.btn-login {
background: none;
color: #fff;
border: 1px solid #fff;
}
.btn-login:hover {
background: #04688a;
color: #fff;
border: 1px solid #04688a;
}
.btn-signup {
background: #ee9b00;
color: #fff;
border: 1px solid #ee9b00;
}
.btn-signup:hover {
background: #04688a;
color: #fff;
border: 1px solid #04688a;
}
.logoapp {
	margin: 30px 0px 0px 0px;
}
.btn-loginNew {
background: #04688a;
color: #aee5f7;
border: 1px solid #04688a;
border-radius: 0;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border-radius: 4px;
}
.btn-loginNew:hover {
background: #ee9b00;
color: #fff;
border: 1px solid #ee9b00;
}
.birthday-wrapper {
   padding: 0;
}
.btn-signupNew {
	background: #ee9b00;
color: #fff;
border: 1px solid #ee9b00;
border-radius: 0;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border-radius: 4px;
}
.btn-signupNew:hover {
background: #04688a;
color: #fff;
border: 1px solid #04688a;
}
.glyphicon-triangle-right {
	font-size: 11px;
}
.form-control {

}
.form-field {
    height: 40px;
    border: 0;
    border-radius: 0;
}
.form-wrapper {
	margin: 40px 0px 20px 0px;
}
.form-wrapperSignup {
	margin: 20px 0px 20px 0px;
	text-align: left;
}
.form-wrapperGender {
	margin: 0px 0px 20px 0px;
	text-align: left;
	padding: 0;
}
.txt-small {
	color: #fff;
}
.txt-small:hover {
	text-decoration: none;
}
.forgot-password-wrapper {
	margin: 20px 0px 0px 0px;
}
.terms-policy {
	color: #333;
}
.terms-policy:hover {
	color: #aee5f7;
	text-decoration: none;
}
.control-label {
	text-align: left;
	padding: 0;
}
.form-field-birthday, .form-field-birthmonth {
	border-right: 1px solid #ccc;
}
.form-curve {
    border-radius: 4px;
}
.form-curve-top {
    border-radius: 4px 4px 0px 0px;
}
.form-curve-bottom {
    border-radius: 0px 0px 4px 4px;
}
.btn-change-password-back {
	background: #fff; color: #185b71; height: 40px; padding-top: 10px; font-weight: bold;
}
.btn-change-password-back a:hover, .btn-signup-back a:hover {
    text-decoration: none;
}
.icon-orange {
	color: #ee9b00;
}
.btn-signup-back {
	border-bottom: 1px solid #ccc; 
	background: #fff; 
	color: #185b71; 
	height: 40px; 
	padding-top: 10px; 
	font-weight: bold;
}
.btn-back {
	border-bottom: 1px solid #4ec1e8; 
	color: #fff; 
	height: 40px; 
	padding-top: 10px; 
	font-weight: bold;
	text-decoration: none;
	font-size: 16px;
}
.btn-back a {
	color: #fff;
}
.btn-back a:hover {
	color: #fff;
}
.heading-terms-privacy {
	color: #185b71;
	font-weight: bold;
	margin: 20px auto 10px;
	text-align: left;
	font-size: 16px;
}
.subheading-terms-privacy {
	color: #333;
	font-weight: bold;
	text-align: left;
	font-size: 13px;
}
.txt-terms-privacy {
	color: #333;
	font-weight: normal;
	text-align: left;
	font-size: 12px;
}
.icon-white {
	color: #fff;
	font-size: 12px;
	margin-top: 4px;
}
.logo-small {
	margin-top: -5px;
}
.mobileErrorLogin{
	text-align:left;
}